@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'vazir';
      font-style: normal;
      font-weight: normal;
      src : url(../src/fonts/Vazir.eot);
      src : url(../src/fonts/Vazir.eot) format("embedded-opentype"),
            url(../src/fonts/Vazir.woff2) format("woff2"),          
            url(../src/fonts/Vazir.woff) format("woff"),
            url(../src/fonts/Vazir.ttf) format("truetype");
    }
  }